Repository LDprg/smartauto: changes, and which pre-commit hooks are due for each by the changed paths.
All: bun-fmt, bun-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.23.2
    hooks:
      - id: gitleaks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-illegal-windows-names
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-toml
      - id: check-vcs-permalinks
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: .*_pb\.ts
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://gitlab.com/bmares/check-json5
    rev: v1.0.0
    hooks:
      - id: check-json5
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/rhysd/actionlint
    rev: v1.7.7
    hooks:
      - id: actionlint
  - repo: https://github.com/pre-commit/pre-commit
    rev: v4.1.0
    hooks:
      - id: validate_manifest
  - repo: https://github.com/backplane/pre-commit-rust-hooks
    rev: v1.1.0
    hooks:
      - id: fmt
      - id: clippy
  - repo: https://github.com/errata-ai/vale
    rev: v3.9.5
    hooks:
      - id: vale
        exclude: (.*_pb\.ts)|(LICENSE.md)
  - repo: https://github.com/bufbuild/buf
    rev: v1.50.0
    hooks:
      - id: buf-format
      - id: buf-lint
  - repo: local
    hooks:
      - id: bun-fmt
        name: bun run format
        language: system
        files: .*\.(json|md)$
        pass_filenames: false
        entry: bun run format
      - id: bun-lint
        name: bun run lint
        language: system
        files: package.json
        pass_filenames: false
        entry: bun run lint

add first jwt token generation (no auth yet)
  backend/core/Cargo.toml
  backend/core/src/constants.rs
  backend/core/src/database.rs
  backend/core/src/services/auth.rs
  backend/core/src/services/entity.rs
  backend/core/src/services/error.rs
Due: none

Minor additions in the readme
  README.md
Due: bun-fmt

add postcss tailwind depend
  bun.lockb
  frontend/core/package.json
Due: bun-fmt, bun-lint

add postcss tailwind depend again
  bun.lockb
  frontend/plugins/test_plugin/package.json
Due: bun-fmt, bun-lint

Add working auth (NOT SECURE NO PROTECTION FOR ADMIN SERVICE)
  .gitignore
  backend/core/Cargo.toml
  backend/core/src/authentication.rs
  backend/core/src/database.rs
  backend/core/src/main.rs
  backend/core/src/services/admin.rs
  backend/core/src/services/auth.rs
  backend/core/src/util.rs
  proto/smartauto/v1/admin_service.proto
Due: none

Add default user creation and finish the baseline for auth
  backend/core/src/constants.rs
  backend/core/src/database.rs
  backend/core/src/main.rs
Due: none

remove old ts and js stuff
  .github/workflows/pre-commit.yml
  .github/workflows/typescript.yml
  .pre-commit-config.yaml
  buf.gen.yaml
Due: none

Update README.md
  README.md
Due: bun-fmt

First working data fetching
  backend/core/Cargo.toml
  backend/core/src/database.rs
  backend/core/src/services/entity.rs
  proto/smartauto/v1/entity_sevice.proto
Due: none

define dfaults for env vars as consts
  backend/core/src/constants.rs
  backend/core/src/database.rs
  backend/core/src/main.rs
Due: none

Disable Renovate
  renovate.json
Due: bun-fmt
